<!DOCTYPE html>
<html>
  <head>
    <title>Crunchbase</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/bootstrap-tooltip.js"></script>
    <script src="/javascripts/bootstrap-popover.js"></script>
    <script src="/javascripts/underscore-min.js"></script>
  </head>
  <body>


    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">

          <a class="brand" href="/">CrunchBase</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li>
                <a href="/companyv2/list">Companies</a>
              </li>
              <li>
                <a href="/tools">Tools</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>



    <div class="container bodbody">
      <%- body %>      
    </div><!-- /.marketing -->
    
    <!-- Footer
	 ================================================== -->
    <footer class="footer">
    </footer>
    



  </body>
</html>
