
<script src="/javascripts/index.js"></script>

<section>

  <div class="row">
    <div class="subnav sorting-menu">
      <ul class="nav nav-tabs">

	<li class="active">
	  <a href="#newest" class="sort-btn" data-toggle="tab" data-sort="newest">Newest</a>
	</li>

	<li>
	  <a href="#biggest" class="sort-btn" data-toggle="tab" data-sort="biggest">
	    Biggest
	  </a>
	</li>

	<li>
	  <a href="#trendy" class="sort-btn" data-toggle="tab" data-sort="trendy">
	    Trendy
	  </a>
	</li>

      </ul>
    </div>
  </div>

  <div class="row">
    
    <div id="container">
     
    </div>

  </div>
</section>


